#main {
    margin: 0 auto;
    width: 980px;
    padding-bottom: 7px;
}

#process_layer{
    position: absolute;  
    top: 0%;  
    left: 0%;  
    width: 100%;  
    height: 100%;  
    background-color: black;  
    z-index:179;  
    -moz-opacity: 0.8;  
    opacity:.80;  
    filter: alpha(opacity=80);
}
#process, #setting-dialog { 
    position:absolute; 
    background-color:#444; 
    line-height: 40px; 
    font-family: DejaVu Sans Mono, monospace;
    font-size: 13px;
    color:#fff; 
    z-index: 180; 
    border: 1px solid #888;
    border-width: 2px 1px;
}
#process {
    width: 320px; 
    height: 130px; 
    left: 50%; 
    top: 40%; 
    margin:-65px 0 0 -160px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align:left; 
}
#setting-dialog {
    width: 320px; 
    height: 180px; 
    left: 50%; 
    top: 40%; 
    margin:-90px 0 0 -160px;
    padding: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align:left; 
}

#runtime_infos {
    text-align: left;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 13px;
    padding: 4px;
    float: left;
    margin-bottom: 7px;
    margin-right: 7px;
    padding-bottom: 7px;
}
#screen_container {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#screen {
    text-align: left;
    white-space: pre;
    position: relative;
    font-family: Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
}
#screen, #vga {
    border: 1px solid #555;
    border-width: 2px 1px;
    display: none;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
}
#vga {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;

    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    background-color: #000;
}
body {
    text-align: center;
    background-color: #111;
    color: #fff;
    line-height: 1.5;
    padding: 10px;
    font-family: sans-serif;
}
a {
    color: wheat;
}
h4 {
    margin: 0px 0px 20px 0px;
}


